<html>
    <head>
        <meta charset="UTF-8">
        <title>Bookie</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href='{% static "dist/semantic.min.css" %}'>

        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src='{% static "dist/semantic.min.js" %}'></script>
        <script>
            $('.ui.sticky').sticky({
                context: '#context'
            });
        </script>
        
    </head>
    <body>
        <div class="ui large top sticky menu transition visible">
            <div class="ui container">
                <a class="active item" href="/"><i class="student icon"></i>Bookie</a>
                <a class="item" href="/my/"><i class="book icon"></i>My Books</a>
                <a class="item" href="/cart/"><i class="shopping cart icon"></i>Cart</a>
                <div class="right item">
                {% if request.user.id %}
                    <div class="ui action input">
                        <a href="/accounts/logout/" class="ui button">Logout</a>
                    </div>

                {% else %}
                    <div class="ui action input">
                        <a href="/accounts/login/" class="ui primary button">Log in</a>
                        <a href="/accounts/signup/" class="ui button">Sign up</a>
                    </div>


                {% endif %}
                </div>
            </div>
        </div>
        
        
        <div class="ui text container">
            <div class="ui two column doubling stackable grid container">
                <div class="column">
                    <div class="ui card">
                        <div class="image">
                            <img src="/media/{{ book.cover_image }}">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <p><i class="browser icon"></i>{{ book.ISBN }}</p>
                        <p><i class="book icon"></i>{{ book.pages }} Pages</p>
                        <p><i class="tag icon"></i>{{ book.author }}</p>
                        <p><i class="euro sign icon"></i>{{ book.price }}</p>

                    </div>
                    <form action="/book/{{ book.pk }}/cart/" method="post">{% csrf_token %}
                        <button class="ui button">Add to cart</button>
                    </form>
                </div>
            </div><br>
            <div class="ui segment"><p>{{ book.description }}</p>
            </div><br>
            <form class="ui reply form" method="post" action="/book/{{ book.pk }}/comment/">{% csrf_token %}
                    Do you recommend this book ?
                    <div id="bp" class="ui button"><i class="icon thumbs up"></i>Yes</div>
                    <div id="bn" class="ui button"><i class="icon thumbs down"></i>No</div>
                    <input id="wd" name="would_recommend" style="display: none;" type="checkbox"/>
                <br><br>
                    <div class="field">
                      <textarea name="comment"></textarea>
                    </div>
                    <button class="ui blue labeled submit icon button">
                      <i class="icon edit"></i> Post Review
                    </button>
                  </form>
                <div class="ui comments">
                <h3 class="ui dividing header">Comments</h3>
                {% for comment in comments %}
                    {% if comment.would_recommend %}
                        <div class="ui green message">
                    {% else %}
                        <div class="ui red message">
                    {% endif %}

                    <div class="comment">
                    <div class="content">

                        <a class="author">{{ comment.user.username }}</a>
                        <div class="metadata">
                            <span class="date">{{ comment.created_date }}</span>
                            {% if comment.user.id == user_id %}
                            <form action="/comment/{{ comment.pk }}/delete/" method="post">{% csrf_token %}<button class="circular basic ui icon button"><i class="close icon"> </i></button>
                               </form>
                            {% endif %}
                        </div>
                        <div class="text">
                            {{ comment.comment }}
                        </div>
                    </div>
                </div></div>
                {% endfor %}


            </div>
            

        </div>
        <br>

        <div class="ui black inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">Site Map</a>
                    <button class="ui facebook button">
                        <i class="facebook icon"></i>Facebook
                    </button>
                    <button class="ui twitter button">
                        <i class="twitter icon"></i>Twitter
                    </button>
                    <button class="ui google plus button">
                        <i class="google plus icon"></i>Google Plus
                    </button>
                </div>
            </div>
        </div>
        <script>
            $('.rating').rating();
            var bp = document.getElementById('bp');
            var bn = document.getElementById('bn');
            bp.onclick = function set_positive() {
                $('#wd').prop('checked', true);
                $('#bp').addClass( "positive" );
                $('#bn').removeClass("negative" );
            };
            bn.onclick = function set_negative() {
                $('#wd').prop('checked', false);
                $('#bn').addClass( "negative" );
                $('#bp').removeClass("positive" );
            };
        </script>
    </body>
</html>