<html>
    <head>
        <meta charset="UTF-8">
        <title>Bookie</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href='{% static "dist/semantic.min.css" %}'>

        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src='{% static "dist/semantic.min.js" %}'></script>
    </head>
    <body>
        <div class="ui large top sticky menu transition visible">
            <div class="ui container">
                <a class="active item" href="/"><i class="student icon"></i>Bookie</a>
                <a class="item" href="/my/"><i class="book icon"></i>My Books</a>
                <a class="item" href="/cart/"><i class="shopping cart icon"></i>Cart</a>
                <div class="right item">
                {% if request.user.id %}
                    <div class="ui action input">
                        <a href="/accounts/logout/" class="ui button">Logout</a>
                    </div>

                {% else %}
                    <div class="ui action input">
                        <a href="/accounts/login/" class="ui primary button">Log in</a>
                        <a href="/accounts/signup/" class="ui button">Sign up</a>
                    </div>


                {% endif %}
                </div>
            </div>
        </div>
        
        <br>

        <div class="ui text container"><div class="ui items">
            {% for item in object_list %}

              <div class="item">
                <div class="ui small image">
                  <img src="/media/{{ item.book.cover_image }}">
                </div>
                <div class="content">
                  <div class="header">{{ item.book.name }}</div>
                  <div class="meta">
                    <span class="price"><i class="euro icon"></i> {{ item.book.price }}</span>
                    <span class="stay">{{item.book.ISBN}}</span>
                  </div>
                  <div class="description">
                    <p>{{ item.book.author }}</p>
                    <p>{{ item.book.pages }}</p>
                  </div>
                </div>
                  <form action="/order/{{ item.pk }}/delete/" method="post">{% csrf_token %}<button class="circular basic red ui icon button"><i class="close icon"> </i></button>
                               </form>
              </div>
            {% endfor %}

            </div>

             <br>
            <div class="ui right aligned basic segment"><form action="/checkout/" method="post">
                        {% csrf_token %}
                        <button class="ui large right labeled green icon button"><i class="right shopping cart icon"></i> Checkout</button>
                    </form></div>



        </div>




    </body>
    
</html>