<html>
    <head>
        <meta charset="UTF-8">
        <title>Bookie</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href='{% static "dist/semantic.min.css" %}'>

        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src='{% static "dist/semantic.min.js" %}'></script>
    </head>
    <body>
        <div class="ui large top sticky menu transition visible">
            <div class="ui container">
                <a class="active item" href="/"><i class="student icon"></i>Bookie</a>
                <a class="item" href="/my/"><i class="book icon"></i>My Books</a>
                <a class="item" href="/cart/"><i class="shopping cart icon"></i>Cart</a>
                <div class="right item">
                {% if request.user.id %}
                    <div class="ui action input">
                        <a href="/accounts/logout/" class="ui button">Logout</a>
                    </div>

                {% else %}
                    <div class="ui action input">
                        <a href="/accounts/login/" class="ui primary button">Log in</a>
                        <a href="/accounts/signup/" class="ui button">Sign up</a>
                    </div>


                {% endif %}
                </div>
            </div>
        </div>
        
        <br>
        <div class="ui text container">
            {% for row in object_list %}
                <div class="ui four cards">
                {% for item in row %}
                   <a class="ui card" href="/book/{{ item.pk }}">
                        <div class="image">
                          <img src="/media/{{ item.cover_image }}">
                        </div>
                   <div class="extra">
                        {{ item.name }}
                   </div></a>
                {% endfor %}
                </div>
            {% endfor %}
        </div>

        <br>

    </body>
    
</html>