<html>
    <head>
        <meta charset="UTF-8">
        <title>Bookie</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href='{% static "dist/semantic.min.css" %}'>

        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src='{% static "dist/semantic.min.js" %}'></script>
    </head>
    <body>
        <div class="ui main menu sticky">
            <div class="ui text container">
                <div href="#" class="header item">
                    <i class="student icon"></i><a href="index.html">Bookie</a>
                </div>
                
                <div class="right item">
                    <div class="ui action input">
                        <input placeholder="Navigate to..." type="text">
                        <div class="ui button">Go</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="ui left fixed pointing vertical menu">
            <a class="blue item" href="data/login.html">Σύνδεση</a>
            <a class="green item" href="data/register.html">Εγγραφή</a>
            <div class="active teal item">
                <b>Ταξινόμηση ανά</b>
                <div class="menu">
                    <a class="item">Πιο δημοφιλή</a>
                    <a class="item">Κορυφαία βαθμολογία</a>
                    <a class="item">Πρόσφατα</a>
                </div>
            </div> 
            <a class="brown item" href="data/contact.html">Εποικοινωνία</a>
        </div>   
        
        <br>
        <div class="ui text container">
            <div class="ui four cards">
                <a class="ui card" href="data/k_actual.html">
                    <div class="image">
                      <img src="data/images/actual.png">
                    </div>
                <div class="extra">
                    Actual
                    <div class="ui section divider"></div>  
                    Rating:
                    <div class="ui star rating" data-rating="4"></div>
                </div>
                </a>
                <a class="ui card" href="data/k_afasia.html">
                  <div class="image">
                    <img src="data/images/afasia.png">
                  </div>
                  <div class="extra">
                    Αφασία
                    <div class="ui section divider"></div>    
                    Rating:
                    <div class="ui star rating" data-rating="2"></div>
                  </div>
                </a>
                <a class="ui card" href="data/k_afoigeorgiou.html">
                  <div class="image">
                    <img src="data/images/afoigeorgiou.png">
                  </div>
                  <div class="extra">
                    Αφοί Γεωργίου
                    <div class="ui section divider"></div>    
                    Rating:
                    <div class="ui star rating" data-rating="4"></div>
                  </div>
                </a>
                <a class="ui card" href="data/k_afoisaranti.html">
                  <div class="image">
                    <img src="data/images/afoisaranti.png">
                  </div>
                  <div class="extra">
                    Αφοί Σαράντη
                    <div class="ui section divider"></div>    
                    Rating:
                    <div class="ui star rating" data-rating="0"></div>
                  </div>
                </a>
                <a class="ui card" href="data/k_agiosvlasitis.html">
                    <div class="image">
                        <img src="data/images/agiovlasitis.png">
                    </div>
                    <div class="extra">
                        Αγιοβλασίτης
                        <div class="ui section divider"></div>    
                        Rating:
                        <div class="ui star rating" data-rating="3"></div>
                    </div>
                </a>
              
                <a class="ui card" href="data/k_agora.html">
                    <div class="image">
                        <img src="data/images/agora.png">
                    </div>
                    <div class="extra">
                        Αgora
                        <div class="ui section divider"></div>    
                        Rating:
                        <div class="ui star rating" data-rating="0"></div>
                    </div>
                </a>
                <a class="ui card" href="data/k_agrotis.html">
                    <div class="image">
                        <img src="data/images/agrotis.png">
                    </div>
                    <div class="extra">
                        Agrotis
                        <div class="ui section divider"></div> 
                        Rating:
                        <div class="ui star rating" data-rating="0"></div>
                    </div>
                </a>
                <a class="ui card" href="data/k_obey.html">
                    <div class="image">
                        <img src="data/images/obey.png">
                    </div>
                    <div class="extra">
                        Agorazeis
                        <div class="ui section divider"></div> 
                        Rating:
                        <div class="ui star rating" data-rating="4"></div>
                    </div>
                </a>
            </div>
        </div>
        
        <br>
        
        <div class="ui black inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">Site Map</a>
                    <button class="ui facebook button">
                        <i class="facebook icon"></i>Facebook
                    </button>
                    <button class="ui twitter button">
                        <i class="twitter icon"></i>Twitter
                    </button>
                    <button class="ui google plus button">
                        <i class="google plus icon"></i>Google Plus
                    </button>
                </div>
            </div>
        </div>
        <script>
            $('.rating').rating();
        </script>
    </body>
    
</html>