<html>
	<head>
        <meta charset="UTF-8">
        <title>Bookie</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href='{% static "dist/semantic.min.css" %}'>
		<script src='{% static "dist/semantic.min.js" %}'></script>
		<style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
	</head>
	<body>
		<div class="ui middle aligned center aligned grid">
		  <div class="column">
		    <h2 class="ui teal image header">
		      <div class="content">
		        Συνδέσου στο Bookie
		      </div>
		    </h2>
			  <div class="ui red message">
                  You have been successfully logged out
              </div>
		    <form class="ui large form" method="post" action="/accounts/login/">{% csrf_token %}
		      <div class="ui stacked segment">
		        <div class="field">
		          <div class="ui left icon input">
		            <i class="user icon"></i>
		            <input type="text" name="username" placeholder="Username">
		          </div>
		        </div>
				<div class="field">
		          <div class="ui left icon input">
		            <i class="lock icon"></i>
		            <input type="password" name="password" placeholder="Password">
		          </div>
		        </div>
		        
				<input type="submit" value="Σύνδεση" class="ui fluid large teal submit button"/>
                <div class="ui section divider"></div>
				<a class="ui fluid large grey button" href="/accounts/signup/">Register</a>
				<div class="ui section divider"></div>
                <a class="ui fluid large grey button" href="/">Επιστροφή στην κύρια Ιστοσελίδα</a>

		      </div>

		    </form>
		  </div>
		</div>
	</body>
</html>
