<!DOCTYPE html>
<html>
<head>
	<title>My Events</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/profile.css">
	<link rel="icon" href="Images/favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/my_events.css">
</head>
<body>
	<ul>
		<li><a  href="home.html"> <img src="./Images/but.png" alt="Home" width="25" height="25" ></a></li>
		<li><a href="my_profile.html"><i class="fa fa-user"></i>	My Profile</a></li>
  		<li><a href="my_events.html"><i class="fa fa-cube"></i>	My Events</a></li>
  		<li><a href="create_event.html"><i class="fa fa-calendar-plus"></i>	Create Event</a></li>
  		<li style="float:right"><a class="active" href="#about">Logout</a></li>
	</ul>
	<div class="row">
		<div class="leftcolumn">
			<div class="card">
				<img src="Images/img_avatar.png" alt="Avatar" style="width: 100%">
				<h1>TedX University of Piraeus</h1><br>

				<form method="get" action="create_event.html">
    				<button class="new" type="submit"><b>+ Create Event</b></button>
				</form>
			</div>
		</div>

		<div class="middlecolumn">
			<div class="card">
				<h1>Event 1</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
			</div>
			<div class="card">
				<h1>Event 2</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
			</div>
			<div class="card">
				<h1>Event 3</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
			</div>
			<div class="card">
				<h1>Event 4</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
			</div>
		</div>
		<div class="rightcolumn">
			<div class="card">
				<h1>My Next Event</h1>
				<p>Here goes the next event that i'm interested in</p>
			</div>			
		</div>
	</div>
</body>
</html>